*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --secondary-font:'Rubik', sans-serif;
    --main-text-color: #1F1F1F;
    --secondary-text-color: #666666;
    --blue-color: #258AFF;
    --white-color: #FFFFFF;
}

html{
scroll-behavior: smooth;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #E3EEF8;
}

header{
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 43px;;
}
h2{
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
    
    gap:40px;
}

nav a{
    text-decoration: none;
    color: var(--main-text-color);
    line-height: 19px;
    letter-spacing: -0.4px;
}

.btn{
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.9px;
    padding: 20px 61px;
}
.email{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.9px;
    border:none;
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 20px 74px 20px 24px;
    max-width: 275px;
}

.email:focus{
    outline: none;
}

.submit{
    border: none;
    background-color:#FC593B;
    color: var(--white-color);
    cursor: pointer;
}

form{
    display: flex;
    justify-content: center;
    gap:9px;
}

form + p{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.32px;
    color: #878890;
    margin-top: 24px;
}

footer{
    padding: 160px 0px;
}

span{
    font-weight: 700;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: var(--main-text-color);
}


.cta-button{
    border: 2px solid var(--blue-color);
    border-radius: 3px;
    padding: 10px 30px;
    background-color: transparent;
    text-align: center;
    letter-spacing: -1px;
    color: var(--blue-color);
    transition-duration: 0.3s;
    margin-left: auto;
}

.cta-button:hover{
    background-color: var(--blue-color);
    color: #E3EEF8;
}

.hero {
    padding-top: 165px;
}

.intro-text span{
    display: block;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 27px;
}

.intro-text h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -4px;
    color: var(--main-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 614px;
    margin: 0 auto 19px;
}

.intro-text p{
    font-size: 21px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.4px;
    color: var(--secondary-text-color);
    max-width: 555px;
    margin: 0 auto 31px;
}

#features{
    padding: 165px 0px;
}
#services{
    position: relative;
}

#services::after{
    content: '';
    position: absolute;
    width: 1110px;
    max-width: 100%;
    height: 2px;
    background-color: var(--white-color);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.features-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature {
    margin-left: 100px;
}

.feature-text::before{
    width: 36px;
    height: 36px;
    position: absolute;
    left: -60px;
    top: 8px;
}
.feat-one::before{
    content: url(images/pen.png);
}
.feat-two::before{
    content: url(images/layers.png);
}
.feat-three::before{
    content: url(images/responsive.png);
}

.feature-text{
    position: relative;
}

.feature-text h2{
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -1px;
}

.feature-text p{
    font-size: 17px;
    line-height: 28px;
    color: var(--secondary-text-color);
}

.app{
    background-color: var(--blue-color);
    padding: 130px 0;
    
}

.app-container{
    display: flex;
    gap:168px;
    align-items: center;
}

.app-container img{
    height: 635.48px;
    width: 500.18px;
}

.app-text span{
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 50px;
}

.app-text h2{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52px;
    color: var(--white-color);
    margin-bottom: 16px;
}

.app-text p{
    font-size: 18px;
    line-height: 32px;
    color: #E4E4E4;
    margin-bottom: 51px;
}

.app-text a{
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--blue-color);
}

.design{
    padding: 160px 0px;
    
}

.design-container{
    display: flex;
    gap:100px;
}

.design-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.design-text span{
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: var(--blue-color);
    margin-bottom: 50px;
}

.design-text h2{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52px;
    color: var(--main-text-color);
    padding-right: 170px;
    margin-bottom: 16px;
}

.design-text p{
    font-size: 18px;
    line-height: 32px;
    color: var(--secondary-text-color);
    padding-right: 200px;
    margin-bottom: 95px;
}

.design-features{
    display: flex;
    gap: 10px;
}

.design-feature{
    position: relative;
}

.design-feature img{
    width: 60px;
    margin-bottom: 32px;
}

.design-feature::before{
    position: absolute;
    width: 60px;
    top: -90px;
}
.feature-one::before{
    content: url(images/white-pen.png);
}

.feature-two::before{
    content: url(images/window.png);
}

.design-feature h3{ 
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 13px;
}
.design-feature p{
    font-size: 17px;
    line-height: 28px;
    color: var(--secondary-text-color);
    padding-right: 100px;
    margin: 0;
}



.testimonials{
    padding-top: 157px;
    padding-bottom: 130px;
}
.testimonial-text{
    max-width: 315px;
}

.testimonial-text span{
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: var(--blue-color);
    margin-bottom: 50px;
}

.testimonial-text h2{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52px;
    color: var(--main-text-color);
    margin-bottom: 16px;
}

.testimonial-text p{
    font-size: 18px;
    line-height: 32px;
    color: var(--secondary-text-color);
}

.testimonials-container{
    display: flex;
    align-items: center;
    gap:65px;
    margin-bottom: 130px;
}

.user-testimonials{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
}

.testimonial{
    background: var(--white-color);
    box-shadow: 0px 2px 4px 0px #00000009;
    border-radius: 5px;
    padding: 30px 40px;
    max-width: 350px;
}

.user-profile img{
    width: 43px;
    height: 43px;
}

.testimonial p{
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: var(--main-text-color);
    margin-bottom: 30px;
}

.user-info h2{
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.31px;
    color: var(--main-text-color);
}

.user-info h3{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: var(--secondary-text-color);
}

.user-profile{
    display: flex;
    gap:22px;
}

.colaborations{
    display: flex;
    justify-content: space-between;
}

.colaborations img{
    mix-blend-mode: luminosity;
    opacity: 0.5;
}

#pricing{       
    background-image: url(images/background-img.png);
    background-blend-mode: multiply;
    background-size: cover;
    padding-top:137px ;
    padding-bottom:180px ;
}

#pricing .pre-heading{
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 50px;
    text-align: center;
}

#pricing > h2{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52px;
    color: var(--white-color);
    text-align: center;
    max-width: 611px;
    margin: 0 auto 93px;
}

.packs-container{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}

.pack{
    position: relative;
    max-width: 350px;
    border-radius: 6px;
    padding: 30px 32px 30px 45px;
    background-color: #2B405A;
}

.pro-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.popular{
    width: 83px;
    background: #4EAB08;
    border-radius: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.51px;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 5px 14px;
}
pack{
    background-color: #2B405A;
}

.pro-pack{
    background-color: var(--white-color);
}

.pack-type{
    display: block;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.pack-type{
    color: var(--white-color);
}

.pro-pack .pack-type{
    color: var(--secondary-text-color);
}

.pack .pricing{
    color: var(--white-color);
}

.pro-pack .pricing{
    color: var(--main-text-color);
}



.price{
    position: relative;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -2px;
}

.price::before{
    content: "$";
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -1.2px;
    margin-right: 4px;
    bottom: 12px;
}

.price::after{
    content: "/";
    position: relative;
    font-weight: 700;
    font-size: 25px;
    margin: 0px 3px;
    bottom: 0;
}


.month{
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.68px;
}

.pricing + p{
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.4px;
    padding-right: 33px;
    margin-top: 10px;
    margin-bottom: 26px;
}

.pack p:first-of-type{
    color: var(--white-color);
}

.pro-pack p:first-of-type{
    color: var(--secondary-text-color);
}

.pack-list li{
    position: relative;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.425px;
    margin-bottom: 10px;
    color: var(--white-color);
}

.pack-list li::before{
   content:"\f00c";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   margin-right: 10px;
}

.pro-list li{
    color: var(--main-text-color);
}

.pack-list .del{
    color: #878890;
}


.pack a{
    display: inline-block;
    color: var(--white-color);
    padding: 15px 43px;
    margin-top: 40px;
    margin-bottom: 5px;
}

.pack a{
    background-color: var(--blue-color);

}

.pro-pack a{
    background-color: #FC593B;
}

.pack p:last-child{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #878890;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.left-side p{
    line-height: 28px;
    letter-spacing: -0.4px;
    color: var(--secondary-text-color);
    max-width: 318px;
    margin-top: 32px;
    margin-bottom: 38px;
}

.social{
    display: flex;
    gap: 19px;
}

.social img{
    width:16px;
}

.links-container{
    display: flex;
    gap: 90px;
}

.links-container span{
    display: block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.4px;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.footer-links li{
    margin-bottom: 20px;
}

.links-container a{
    display: block;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.4px;
    color: var(--main-text-color);
    text-decoration: none;
}